.footer {
    background: #eec668;
    padding-top: 90px;
}

.call_now2 h3 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    padding-bottom: 33px;

}

.call_now2 span {
    font-size: 31px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
}

.call_now {
    float: right;
    letter-spacing: 3px;
}

.call_now h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
    padding-bottom: 33px;

}

.call_now span {
    font-size: 45px;
    line-height: 35px;
    font-weight: bold;
    color: #fff;
}

.copyright {
    background: url(../../images/cop.jpg);
    padding: 25px 0px;
    margin-top: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.copyright p {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}

.copyright a {
    color: #000;
}

.copyright a:hover {
    color: #fff;
}